.sb-show-main.sb-main-padded,
.sb-main-centered #storybook-root {
	padding: 0;
}

.sb-main-centered #redback-ui {
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
